<%= form_with scope: :list, url: lists_path, local: true do |form| %>
 
  <% if @list && @list.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@list.errors.count, "error") %> prohibited
        this list from being saved:
      </h2>
      <ul>
        <% @list.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 
    <p>
        <%= form.label :title %>
        <%= form.text_field :title %>
    </p>

    <p>
        <%= form.label :description %>
        <%= form.text_field :description %>
    </p>
 
  <p>
    <%= form.submit %>
  </p>
 
<% end %>